.main-header {
	background-color: $white;
	font-family: $montserat;
	font-size: 1.2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.06rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	height: 6rem;
	transition: all linear 0.2s;

	@media screen and (min-width: 992px) {
		height: 13.6rem;

		&.with-scroll {
			height: 6rem;

			@media screen and (min-width: 992px) {
				height: 8.6rem;
			}

			.navbar-brand {
				img {
					width: 97px;
					transition: all linear 0.2s;
				}
				
			} 
		}

		.navbar-brand {
			padding: 0 2rem;
			margin: 0;

			img {
				width: 154px;
				transition: all linear 0.2s;
			}
		} 
	}	

	.container {
		@media screen and (min-width: 992px) {
			width: 960px;
		}
	}

	.navbar {
		padding: 0;
	}

	

	.nav.navbar-nav {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		li {
			display: inline-block;
			width: calc((100% - 15.4rem)/4);

			&:nth-child(3) {
				width: 15.4rem;
				text-align: center;
			}

			&:nth-child(4) {
				width: 23rem;
				text-align: right;
			}

			&:nth-child(5) {
				width: 15.8rem;
				text-align: right;
			}

			a {
				color: $text-color;
			}

			.navbar-brand {
				padding: 0;
			}

			&.active {
				a {
					color: $pr-green;
				}
			}

			&:hover, &:active {
				a {
					color:  $pr-green;
					text-decoration: none;
				}
			}
		}
	}

	.mob-nav {
		position: relative;
		min-height: 6rem;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
		background-color: $white;

		.navbar-brand {
			margin: 0.5rem 2rem;
			padding: 0;
			img {
				height: 5rem;
				width: auto;
			}
		}

		button {
			background-color: transparent;
			border: none;
			color: $pr-green;
			font-size: 4rem;
			float: right;
			padding: 0;
			outline: none;
			padding: 0 2rem;

		}

		#mob-nav-collapse {
			width: 100%;

		}

		ul {
			list-style-type: none;		
			padding: 0;
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-bottom: 0;

			li {
				text-align: center;
				line-height: 5rem;
				background-color: $white;

				a {
					color: $text-color;
					width: 100%;
					display: inline-block;

					img {
						width: 6rem;
					}
				}

				&:active {
					a {
						color:  $pr-green;
						text-decoration: none;
					}
				}
			}
		}
	}
}

